@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground h-screen bg-zinc-50;
  }
  #root {
    @apply h-full;
  }
}

/* landing */
.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
  min-height: 100vh;
}
.banner .video-bg {
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
}
.banner .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.banner .content h1 {
  font-size: 50px;
}
.banner .content p {
  font-size: 20px;
}
@media (max-width: 767px) {
  .banner .content h1 {
    font-size: 30px;
  }
  .banner .content h1 p {
    font-size: 18px;
  }
}
.banner .content .btn {
  width: 100%;
  margin-top: 70px;
}
.banner .content .btn a {
  width: 200px;
  padding: 10px 8px;
  margin: 0 10px;
  border-radius: 20px;
  font-weight: bold;
  color: #020617;
  border: 2px solid white;
  background-color: white;
}
.content a i {
  margin-left: 10px;
}
/* landing */

/* Start Services */
.main-heading {
  text-align: center;
}
.main-heading h2 {
  font-weight: bold;
  font-size: 20px;
  position: relative;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: #020617;
}
.main-heading p {
  margin: 0 auto 100px;
  color: #1e293b;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 40px;
}
.services {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media (min-width: 768px) {
  .services .service-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    row-gap: 60px;
    column-gap: 40px;
  }
}
.services .serv-box {
  display: flex;
}
.services .serv-box i {
  margin-right: 50px;
  font-size: 30px;
  color: #0a2647;
}
@media (max-width: 767px) {
  .services .serv-box {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 40px;
  }
  .services .serv-box i {
    margin: 0 0 30px;
  }
}
.services .serv-box h3 {
  margin-bottom: 30px;
  color: #1b2935;
}
.services .serv-box p {
  line-height: 2;
  color: #777;
}

/* End Services */
/* Start Contact */
.contact {
  padding-top: 40px;
  padding-bottom: 40px;
}
.main-head {
  text-align: center;
}
.main-head h2 {
  font-weight: bold;
  font-size: 2.2rem;
  position: relative;
  margin-bottom: 10px;
  color: #020617;
}
.main-head p {
  margin: 0 auto 30px;
  color: var(--wbc-font);
  font-weight: 600;
  font-size: 1.25rem;
}
.col {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 767px) {
  .col {
    flex-direction: column;
    text-align: center;
  }
  .col .info {
    margin-top: 30px;
  }
}
.col .info {
  width: 80%;
}
.col .info .head {
  margin-bottom: 20px;
  font-size: 18px;
}
.col .info p {
  font-size: 17px;
}
.col .pl i {
  font-size: 100px;
  color: #0a2647;
}
hr {
  margin-top: 3rem;
  margin-bottom: 3rem;
  width: 100%;
}
.contact .content form .main-input {
  padding: 20px;
  display: block;
  border: 1px solid #ccc;
  margin-bottom: 30px;
  width: 100%;
}
.contact .content {
  width: 60%;
  margin: 50px auto 0;
  text-align: center;
  color: #fafafa;
}
.contact .content form .main-input:focus {
  outline: none;
}
.contact .content form textarea.main-input {
  height: 200px;
}
.contact .content form input[type="submit"] {
  background-color: #020617;
  color: white;
  padding: 20px;
  border: none;
  display: flex;
  margin-left: auto;
  text-transform: uppercase;
  cursor: pointer;
}
/* End Contact */
/* footer */
footer {
  background-color: #0a2647;
  padding: 70px 0 10px;
}
footer .social {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .social a {
  color: #fafafa;
  font-size: 30px;
  padding: 20px;
}

footer .box-content {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 40px;
}
footer .box-content .box h3 {
  font-size: 18px;
  color: #747578;
}
footer .box-content .box li {
  padding: 10px 0;
  transition: 0.3s;
  position: relative;
  width: fit-content;
}
footer .box-content .box li:hover {
  padding-left: 10px;
}
footer .box-content .box li a {
  color: #fafafa;
}
footer .box-content a::after {
  content: "";
  position: absolute;
  left: 0%;
  height: 3px;
  width: 100%;
  background-color: #777;
  display: block;
  transform: scaleX(0);
  transform-origin: right center;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}
footer .box-content a:hover::after {
  transform: scaleX(1);
}
/* footer */
